 #high-score{
    display: inline;
}
#timer{
    float: right;
} 

.welcome{
    margin-top: 10%;
}

.questions{
    margin: 10% auto;
    padding: 15px;
    display: none;
    width: 80%;
    border: solid 1px rgba(128, 128, 128, 0.5);
}

.answer-button{
    display: block;
    margin: 10px auto;
    min-width: 400px;
}

.game-over{
    margin-top: 10%;
    display: none;
    
}

.input-group{
    max-width: 60%;
    margin: 0 auto;
}

#high-scores-list{
    display: none;
    margin: 10% auto;
}

#high-score-buttons{
    display: none;
    margin: 10% auto;
}